<!-- myapp/templates/myapp/base.html -->

{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Financial Sentiment Analysis{% endblock %}</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <!-- Additional CSS files -->
</head>
<body>
    {% include 'myapp/header.html' %}
    {% include 'myapp/navbar.html' %}

    <div class="container-fluid">
        <div class="row">
            {% include 'myapp/sidebar.html' %}
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                {% block content %}{% endblock %}
            </main>
        </div>
    </div>

    {% include 'myapp/footer.html' %}

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!-- Additional JS files -->
</body>
</html>
