<!-- myapp/templates/myapp/navbar.html -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">FinSentiment</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#scrape-data">Scrape Data</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#perform-analysis">Perform Analysis</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#read-articles">Read Articles</a>
            </li>
            <!-- New Links -->
            <li class="nav-item">
                <a class="nav-link" href="/view-results/">View Results</a> <!-- Update the href with the correct URL -->
            </li>
            <!-- Add other new links similarly -->
        </ul>
    </div>
</nav>
