<!-- perform_analysis.html -->

{% extends 'myapp/base.html' %}
{% load static %}
{% block content %}
<h1>Perform Analysis</h1>

<!-- Project Information -->
<div>
    <h2>About the Project</h2>
    <p>Here you can describe what your project is about, its purpose, and its uniqueness.</p>
    <!-- Add images -->
    <img src="{% static 'images/finSentiment4.png' %}" alt="Perform Sentiment Analysis" class="img-fluid" style="max-width: 800px; height: auto;">
    <!-- More content -->
    <form method="post" action="{% url 'perform_analysis' %}" enctype="multipart/form-data">
        {% csrf_token %}

        <!-- Dropdown for selecting a dataset -->
        <label for="dataset">Select a Dataset:</label>
        <select name="dataset" id="dataset">
            {% for dataset in datasets %}
                <option value="{{ dataset.file.url }}">{{ dataset.name }}</option>
            {% endfor %}
        </select>

        <!-- Dropdown for selecting multiple classifiers -->
        <label for="classifiers">Select Classifiers:</label>
        <select name="classifiers" id="classifiers" multiple="multiple">
            <option value="Logistic Regression">Logistic Regression</option>
            <option value="SDG">SDG</option>
            <option value="Random Forest">Random Forest</option>
            <!-- Add other options here -->
        </select>

        <button type="submit">Perform Analysis</button>
    </form>
</div>


<script>
    $(document).ready(function() {

        $('#dataset').select2({
        theme: 'bootstrap'
        });
        // Initialize Select2
        $('#classifiers').select2({
        theme: 'bootstrap'
        });

    });
</script>


{% endblock %}
