<!-- perform_analysis.html -->

{% extends 'myapp/base.html' %}
{% load static %}
{% block content %}
<h1>Perform Analysis</h1>

<!-- Project Information -->
<div>
    <h2>About the Project</h2>
    <p>Here you can describe what your project is about, its purpose, and its uniqueness.</p>
    <!-- Add images -->
    <img src="{% static 'images/finSentiment4.png' %}" alt="Perform Sentiment Analysis" class="img-fluid" style="max-width: 800px; height: auto;">
    <!-- More content -->
</div>





{% endblock %}
