<!-- myapp/templates/myapp/sidebar.html -->

<nav class="col-md-2 d-none d-md-block bg-light sidebar">
  <!-- myapp/templates/myapp/sidebar.html -->

<div class="bg-light border-right" id="sidebar-wrapper">
  <div class="sidebar-heading">Menu</div>
  <div class="list-group list-group-flush">
      <a href="#scrape-data" class="list-group-item list-group-item-action bg-light">Scrape Data</a>
      <a href="#perform-analysis" class="list-group-item list-group-item-action bg-light">Perform Analysis</a>
      <a href="#read-articles" class="list-group-item list-group-item-action bg-light">Read Articles</a>
      <!-- Add other sidebar items here -->
  </div>
</div>

</nav>
